:root {
    --bg-main: #014242;
    --font-main: #fff;
    --font-subtitle: #808080; 
}

.page {
    font-family: 'Roboto Flex', sans-serif;
    letter-spacing: 0.5px;
    color: var(--font-main);
}

.page__body {
    margin: 0;
}

h1, p {
    margin: 0;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.article {
    padding: 30px;
    background-color: var(--bg-main);
    display: grid;
    row-gap: 30px;
}

.article__path {
    font-size: 11px;
    color: var(--font-subtitle);
}

@media (min-width: 600px) {
    .article__path {
        margin-top: 30px;
    }
}

.article__heading {
    font-size: 35px;
    line-height: 1.4;
}

@media (min-width: 600px) {
    .article__heading {
        font-size: 45px;
        width: 540px;
        max-width: 100%;
    }
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
}

@media (min-width: 600px) {
    .about {
        align-items: center;
        padding-right: 60px;
        width: 540px;
        max-width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

.about__img {
    grid-row: 1/3;
    height: 80px;
    align-self: center;
}

@media (min-width: 600px) {
    .about__img {
        grid-row: 1;
    }
}

.about__item {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    row-gap: 2px;
}

@media (min-width: 600px) {
    .about__item {
        row-gap: 4px;
    }
}

.about__item--title {
    font-size: 11px;
    color: var(--font-subtitle);
}

@media (min-width: 600px) {
    .about__item--title {
        align-self: flex-end;
    }
}

.about__item--subtitle {
    font-size: 11px;
}

@media (min-width: 600px) {
    .about__item--subtitle {
    }
}

.about__item--link {
    color: var(--font-main);
    text-decoration: none;
}

.about__item--link:hover {
    text-decoration: underline;
}

@media (min-width: 600px) {
    .one {
        grid-column: 5;
        grid-row: 1;
    }
    
    .two {
        grid-column: 2;
        grid-row: 1;
    }
    
    .three {
        grid-column: 3;
        grid-row: 1;
    }
    
    .four {
        grid-column: 4;
        grid-row: 1;
    }
}
